openapi: 3.1.0
info:
  title: Movie Booking App API
  description: |
    API for the Movie Booking App with ticket sharing functionality. This API enables users to
    share their movie tickets with other registered users in the system.
  version: 1.0.0
  contact:
    name: Movie Booking App Support
    email: support@moviebookingapp.com
  license:
    name: Proprietary
servers:
  - url: https://api.moviebookingapp.com/v1
    description: Production server
  - url: https://api-staging.moviebookingapp.com/v1
    description: Staging server
  - url: http://localhost:3000/api
    description: Local development server

tags:
  - name: Authentication
    description: User authentication endpoints
  - name: Movies
    description: Movie information endpoints
  - name: Bookings
    description: Booking related endpoints
  - name: Tickets
    description: Ticket management endpoints
  - name: Sharing
    description: Ticket sharing functionality

paths:
  /auth/signin:
    post:
      tags:
        - Authentication
      summary: Sign in to the app
      operationId: signIn
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignInRequest"
      responses:
        "200":
          description: Successful login
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/signup:
    post:
      tags:
        - Authentication
      summary: Register a new user account
      operationId: signUp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignUpRequest"
      responses:
        "201":
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "409":
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerError"

  /auth/signout:
    post:
      tags:
        - Authentication
      summary: Sign out the current user
      operationId: signOut
      responses:
        "200":
          description: Successfully signed out
        "401":
          $ref: "#/components/responses/Unauthorized"

  /movies:
    get:
      tags:
        - Movies
      summary: Get a list of available movies
      operationId: getMovies
      parameters:
        - name: city
          in: query
          description: Filter movies by city
          schema:
            type: string
        - name: language
          in: query
          description: Filter movies by language
          schema:
            type: string
        - name: date
          in: query
          description: Filter movies by date (ISO format)
          schema:
            type: string
            format: date
      responses:
        "200":
          description: List of movies
          content:
            application/json:
              schema:
                type: object
                properties:
                  movies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Movie"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/ServerError"

  /movies/{movieId}:
    get:
      tags:
        - Movies
      summary: Get details of a specific movie
      operationId: getMovieById
      parameters:
        - name: movieId
          in: path
          required: true
          description: ID of the movie
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Movie details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Movie"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /bookings:
    get:
      tags:
        - Bookings
      summary: Get the current user's bookings
      operationId: getUserBookings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of user's bookings
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookings:
                    type: array
                    items:
                      $ref: "#/components/schemas/Booking"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"
    
    post:
      tags:
        - Bookings
      summary: Create a new booking
      operationId: createBooking
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BookingRequest"
      responses:
        "201":
          description: Booking created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BookingResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Seat(s) already booked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Insufficient funds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerError"

  /bookings/{bookingId}:
    get:
      tags:
        - Bookings
      summary: Get details of a specific booking
      operationId: getBookingById
      security:
        - BearerAuth: []
      parameters:
        - name: bookingId
          in: path
          required: true
          description: ID of the booking
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Booking details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Booking"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /cinemas:
    get:
      tags:
        - Movies
      summary: Get a list of cinemas
      operationId: getCinemas
      parameters:
        - name: city
          in: query
          description: Filter cinemas by city
          schema:
            type: string
        - name: movieId
          in: query
          description: Filter cinemas by movie ID
          schema:
            type: integer
            format: int64
        - name: date
          in: query
          description: Filter cinemas by date (ISO format)
          schema:
            type: string
            format: date
      responses:
        "200":
          description: List of cinemas
          content:
            application/json:
              schema:
                type: object
                properties:
                  cinemas:
                    type: array
                    items:
                      $ref: "#/components/schemas/Cinema"
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/ServerError"

  /cinemas/{cinemaId}/slots:
    get:
      tags:
        - Movies
      summary: Get available time slots for a cinema
      operationId: getCinemaSlots
      parameters:
        - name: cinemaId
          in: path
          required: true
          description: ID of the cinema
          schema:
            type: integer
            format: int64
        - name: movieId
          in: query
          required: true
          description: ID of the movie
          schema:
            type: integer
            format: int64
        - name: date
          in: query
          required: true
          description: Date in ISO format
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Available time slots
          content:
            application/json:
              schema:
                type: object
                properties:
                  slots:
                    type: array
                    items:
                      type: string
                      format: date-time
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /cinemas/{cinemaId}/auditoriums/{audiId}/seats:
    get:
      tags:
        - Movies
      summary: Get seat information for an auditorium
      operationId: getAuditoriumSeats
      parameters:
        - name: cinemaId
          in: path
          required: true
          description: ID of the cinema
          schema:
            type: integer
            format: int64
        - name: audiId
          in: path
          required: true
          description: ID of the auditorium
          schema:
            type: integer
            format: int64
        - name: timestamp
          in: query
          required: true
          description: Timestamp of the movie slot
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Auditorium and seat information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Auditorium"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

  /tickets/share:
    post:
      tags:
        - Sharing
      summary: Share a ticket with another user
      operationId: shareTicket
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TicketShareRequest"
      responses:
        "200":
          description: Ticket shared successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketShareResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: User is not allowed to share this ticket
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Booking or recipient user not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerError"

  /tickets/shared:
    get:
      tags:
        - Sharing
      summary: Get tickets shared with the current user
      operationId: getSharedTickets
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of tickets shared with the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  sharedTickets:
                    type: array
                    items:
                      $ref: "#/components/schemas/SharedTicket"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

  /tickets/shared/{sharedTicketId}/accept:
    post:
      tags:
        - Sharing
      summary: Accept a shared ticket
      operationId: acceptSharedTicket
      security:
        - BearerAuth: []
      parameters:
        - name: sharedTicketId
          in: path
          required: true
          description: ID of the shared ticket
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Ticket accepted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharedTicket"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: User is not the intended recipient or ticket is expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Ticket already accepted or declined
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerError"

  /tickets/shared/{sharedTicketId}/decline:
    post:
      tags:
        - Sharing
      summary: Decline a shared ticket
      operationId: declineSharedTicket
      security:
        - BearerAuth: []
      parameters:
        - name: sharedTicketId
          in: path
          required: true
          description: ID of the shared ticket
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Ticket declined successfully
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: User is not the intended recipient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Ticket already accepted or declined
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/ServerError"

  /users/search:
    get:
      tags:
        - Sharing
      summary: Search for users to share tickets with
      operationId: searchUsers
      security:
        - BearerAuth: []
      parameters:
        - name: query
          in: query
          required: true
          description: Search query (name or email)
          schema:
            type: string
            minLength: 2
      responses:
        "200":
          description: List of matching users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/UserBasic"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/ServerError"

components:
  schemas:
    SignInRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: john.doe@example.com
        password:
          type: string
          format: password
          example: securePassword123

    SignUpRequest:
      type: object
      required:
        - name
        - email
        - password
        - phone
      properties:
        name:
          type: string
          example: John Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        password:
          type: string
          format: password
          example: securePassword123
        phone:
          type: string
          example: "+1234567890"
        city:
          type: string
          example: New York
        state:
          type: string
          example: NY
        zip:
          type: string
          example: "10001"

    AuthResponse:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/User"
        token:
          type: string
          description: JWT token for authentication
        expiresAt:
          type: string
          format: date-time
          description: Token expiration time

    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        name:
          type: string
          example: John Doe
        email:
          type: string
          format: email
          example: john.doe@example.com
        phone:
          type: string
          example: "+1234567890"
        city:
          type: string
          nullable: true
          example: New York
        state:
          type: string
          nullable: true
          example: NY
        zip:
          type: string
          nullable: true
          example: "10001"
        balance:
          type: integer
          description: User balance in smallest currency unit
          example: 10000

    UserBasic:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 123
        name:
          type: string
          example: John Doe
        email:
          type: string
          format: email
          example: john.doe@example.com

    Movie:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: "The Avengers"
        languages:
          type: array
          items:
            type: string
          example: ["English", "Hindi"]
        certificate:
          type: string
          example: "PG-13"
        rating:
          type: string
          example: "4.5"
        dates:
          type: array
          items:
            type: string
            format: date-time
          example: ["2025-09-01T00:00:00Z", "2025-09-02T00:00:00Z"]
        poster:
          type: string
          nullable: true
          example: "https://example.com/poster.jpg"

    Cinema:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: "PVR Cinema"
        city:
          type: string
          example: "Mumbai"
        state:
          type: string
          example: "Maharashtra"
        zip:
          type: string
          example: "400001"

    CinemaWithSlots:
      type: object
      properties:
        cinema:
          $ref: "#/components/schemas/Cinema"
        timeSlots:
          type: array
          items:
            type: string
            format: date-time
          example: ["2025-09-01T14:00:00Z", "2025-09-01T17:30:00Z"]

    Auditorium:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: "Audi 1"
        rows:
          type: integer
          example: 8
        cols:
          type: integer
          example: 10
        seats:
          type: array
          items:
            $ref: "#/components/schemas/Seat"

    Seat:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        row:
          type: integer
          example: 1
        col:
          type: integer
          example: 1
        audiId:
          type: integer
          format: int64
          example: 1
        booked:
          type: boolean
          example: false
        bookingId:
          type: integer
          format: int64
          nullable: true
        price:
          type: integer
          description: Price in smallest currency unit
          example: 250

    BookingRequest:
      type: object
      required:
        - cinemaId
        - startTime
        - seatIds
      properties:
        cinemaId:
          type: integer
          format: int64
          example: 1
        startTime:
          type: integer
          format: int64
          description: Timestamp of the movie slot
          example: 1722700800000
        seatIds:
          type: array
          items:
            type: integer
            format: int64
          example: [1, 2, 3]

    BookingResponse:
      type: object
      properties:
        booking:
          $ref: "#/components/schemas/Booking"
        message:
          type: string
          example: "Booking successfully completed"

    Booking:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        cinema:
          $ref: "#/components/schemas/Cinema"
        seats:
          type: array
          items:
            $ref: "#/components/schemas/Seat"
        startTime:
          type: string
          format: date-time
          example: "2025-09-01T14:00:00Z"
        userId:
          type: integer
          format: int64
          example: 123
        totalAmount:
          type: integer
          description: Total amount paid in smallest currency unit
          example: 750
        movieDetails:
          $ref: "#/components/schemas/Movie"

    TicketShareRequest:
      type: object
      required:
        - bookingId
        - recipientUserId
        - seats
      properties:
        bookingId:
          type: integer
          format: int64
          example: 1
          description: ID of the booking to share
        recipientUserId:
          type: integer
          format: int64
          example: 456
          description: User ID of the recipient
        seats:
          type: array
          items:
            type: integer
            format: int64
          example: [1, 2]
          description: IDs of the seats to share (must belong to the booking)
        message:
          type: string
          example: "Hey, here's a ticket for the movie tonight!"
          description: Optional message to the recipient

    TicketShareResponse:
      type: object
      properties:
        sharedTicket:
          $ref: "#/components/schemas/SharedTicket"
        message:
          type: string
          example: "Ticket shared successfully"

    SharedTicket:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        booking:
          $ref: "#/components/schemas/Booking"
        seats:
          type: array
          items:
            $ref: "#/components/schemas/Seat"
        sharedByUserId:
          type: integer
          format: int64
          example: 123
        sharedByUserName:
          type: string
          example: "John Doe"
        recipientUserId:
          type: integer
          format: int64
          example: 456
        recipientUserName:
          type: string
          example: "Jane Smith"
        message:
          type: string
          nullable: true
          example: "Hey, here's a ticket for the movie tonight!"
        status:
          type: string
          enum: [PENDING, ACCEPTED, DECLINED, EXPIRED]
          example: "PENDING"
        sharedAt:
          type: string
          format: date-time
          example: "2025-08-08T10:30:00Z"
        expiresAt:
          type: string
          format: date-time
          example: "2025-08-08T22:30:00Z"
        respondedAt:
          type: string
          format: date-time
          nullable: true

    Error:
      type: object
      properties:
        message:
          type: string
          description: Error message
        error:
          type: string
          description: Detailed error information (only in development)
        code:
          type: string
          description: Error code

  responses:
    BadRequest:
      description: Bad request - invalid input
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    
    Forbidden:
      description: Not authorized to access this resource
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    
    ServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT